<div class="mx-auto" style="width:600px;">
    <nz-card class="text-center">
        <div class="profile-photo bg-gray-200 rounded-full h-32 w-32 mx-auto flex cursor-pointer" (click)="updateProfilePhoto()">
            <i class="text-3xl mx-auto my-auto" nz-icon nzType="camera" nzTheme="outline"></i>
        </div>
        <h2 class="mb-0 mt-6">Dimitar Ruskov</h2>
    </nz-card>
</div>

<div class="mx-auto mt-5" style="width:600px;">
    <nz-card nzTitle="3rd Party Integrations" >
        <nz-skeleton
          nzType="button"
          [nzActive]="true"
          [nzLoading]="!(profile$ | async)">
            <nz-list nzSize="large">
                <nz-list-item *ngFor="let service of services">
                    <i class="text-3xl" [nzTooltipTitle]="service.displayName" nz-tooltip nz-icon [nzType]="service.key" nzTheme="outline"></i>
                        <ng-container *ngIf="profile$ | async as profile">
                            <a *ngIf="profile[service.key] as link; else unlinkedProfile" [href]="getHandle(profile[service.key], service.handle)" target="_blank">{{ getHandle(profile[service.key], service.handle) }}</a>
                            <ng-template #unlinkedProfile>
                                <a (click)="linkProfile(service.key)">Link Profile</a>
                            </ng-template>
                        </ng-container>
                </nz-list-item>
            </nz-list>
        </nz-skeleton>
    </nz-card>
</div>

<div class="mx-auto mt-5" style="width:600px;">
    <button class="min-w-full" (click)="logout()" nz-button nzType="default" nzDanger nzSize="large">
        <i nz-icon nzType="logout" nzTheme="outline"></i>Sign out
    </button>
</div>
